<div>
    <h2>Cat <%= @cat.id %> Show</h2>
    <h3><%= @cat.name %></h3>
    <table>
        <thead>
            <tr>
                <th>Attribute</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Age</th>
                <th><%= @cat.age %></th>
            </tr>
            <tr>
                <th>Birth_Date</th>
                <th><%= @cat.birth_date %></th>
            </tr>
            <tr>
                <th>Color</th>
                <th><%= @cat.color %></th>
            </tr>
                <th>Sex</th>
                <th><%= @cat.sex %></th>
            <tr>
            </tr>
        </tbody>
    </table>
    <div>
        <span>Description:</span><br>
        <%= @cat.description %>
    </div>
</div>